<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.michaeluzzi.underground-streams"
	version 	= "0.0.1">

	<name>Underground Streams</name>

	<description>
		Stories from the NYC subways
	</description>

	<author href="http://michaeluzzi.github.com"
		email="mjuzzi@gmail.com">
		Michael Uzzi
	</author>

	<gap:platforms>
		<gap:platform name="android" minVersion="2.1" />
		<!-- <gap:platform name="webos" />
		<gap:platform name="symbian.wrt" />
		<gap:platform name="blackberry" project="widgets"/> -->
	</gap:platforms>

	<icon src="blurry.png" gap:role="default" />

    <gap:splash src="weirdo.png" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/camera"/>
	<feature name="http://api.phonegap.com/1.0/device"/>
	<feature name="http://api.phonegap.com/1.0/file"/>
	<feature name="http://api.phonegap.com/1.0/notification"/>
	
	<!-- <access origin="http://underground-streams-dev.elasticbeanstalk.com" /> -->

	<!-- sample preference specification -->
	<!-- <preference name="autorotate" value="false" readonly="true"/> -->
</widget>
